{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <h1> Welcome to the Higher or Lower Game (MyAnimeList ver)! </h1>
    <p>This is a replica of the original Higher Lower game. Guess, which Anime/Manga has a higher score on MyAnimeList!</p>
    <ul>
        <li>Note: The game is still in development.</li>
    </ul>
    <button onclick = "location.href = '{% url 'display' 'anime' %}'">Show me random anime!</button>
    <button onclick = "location.href = '{% url 'display' 'manga' %}'">Show me random manga!</button>

{% endblock %}